body {
    background-color: rgb(20, 20, 20);
    font-family: 'Courier New', Courier, monospace;
}

.calculator {
    background-color: rgb(12, 27, 31);
    margin-left: 35%;
    margin-top: 50px;
    text-align: center;
    width: 400px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 2%;
    box-shadow: 0px 9px 20px rgb(0, 0, 0);
}

.calculator:hover {
    transform: scale(1.01);
    transition: .3s;
    box-shadow: 0px 9px 40px rgb(0, 0, 0);
    rotate: .5deg;
    

}

.calculator:active {
    box-shadow: 0px 4px 13px rgb(0, 0, 0);
    rotate: -.5deg;

}

.btn button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 34px;
    color: #001526;
    background-color: rgb(58, 89, 65);
    margin: 6px;
    width: 80px;
    height: 60px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 4px 13px black;
}

.btn button:hover {
    background-color: #12d456;
    color: #017bc8;
    box-shadow: 0px 0px 20px #12d456;

}

.btn button:active {
    transform: scale(0.95);
    box-shadow: 0px 0px 5px #12d456;
}

.row button {
    height: 80px;
}

.rone button {
    margin-top: 30px;
}

.equal button {
    margin-top: 15px;
    width: 370px;
    height: 60px;
}

.textboxes input {
    border: none;
    width: 400px;
    text-align: right;
}

.input .val {
    border: none;
    background-color: #033350;
    color: #12d456;
    caret-color: #12d456;
    height: 30px;
    font-size: 26px;
    text-align: right;
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0 5px 13px black;
}

.output .result {
    margin-top: 10px;
    background-color: #12d456;
    color: #032250;

    height: 50px;
    font-size: 36px;
    border-radius: 10px 10px 0px 0px;
    text-align: right;
    box-shadow: 0 0 100px #12d456;

}

.input ::placeholder {
    color: #12d456;
}

.output ::placeholder {
    color: #032250;
}